{{>partials/header}} 

<div class="container list">
</div>

    <div class='container no-list'>
        <h2>Página não encontrada.</h2>
    </div>


{{>partials/footer}} <!--importação/ partials são os componentes que permanecem em todas as páginas>