table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

tr {
    display: flex;
    justify-content: space-evenly;
}

.tr-head {
    width: 70%;
    margin: 0 auto 20px auto;
    color: rgb(23, 23, 23);
}

.tr-body {
    background-color: rgb(232, 230, 230);
    padding: 10px;
    width: 70%;
    margin: 0 auto 5px auto;
    border-radius: 5px;
}

th {
    width: 200px;
    text-align: justify;
}

td {
    width: 200px;
    text-align: justify;
}

@media (max-width: 600px){
    table{
        font-size: 10px;
    }
}